body {
  background-color: #1f78b4;
}

h1,
h2 {
  color: #222366;
}

.title-full {
  display: block;
}

.title-small {
  display: none;
}

.options-div {
  margin-bottom: 1em;
}

.nav-pills .nav-link {
  border-radius: 1rem;
  border: solid;
  border-width: 1px;
  margin: 0.2em;
  border-color: rgb(53, 51, 63);
  padding: .3rem 1rem;
}


@media only screen and (max-width: 575px) {
  body {
    background-color: white;
  }

  .title-full {
    display: none;
  }

  .title-small {
    display: block;
  }
}

.chart-footnote {
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

#main-div {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-radius: 25px;
}

.intro-div {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0em;
}

.tab-content {
  border: solid;
  border-radius: 25px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.canvas-holder canvas {
  margin: 0 auto;
}

.table-holder {
  margin-left: 5px;
  margin-right: 5px;
}

.table-holder>div {
  margin-left: 10px;
  margin-right: 5px;
  height: 275px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.canvas-holder {
  /*max-width: 450px;*/
  margin: 0 auto;
}

#all-charts {
  display: none;
}

.chart-outer {
  margin-top: 2em;
}

.chart-outer h2,
.chart-outer .subTitle {
  text-align: center;
}

/* Use as <div class="ajax-loading-60px"></div> */
.ajax-loading-60px {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: ajax-spin 2s linear infinite;
  /* Safari */
  animation: ajax-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes ajax-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ajax-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#version-detail .label {
  padding-left: 2em;
}

#platform365 .label {
  padding-left: 2em;
}

#platformPiVar365 .label {
  padding-left: 1em;
}

@media only screen and (max-width: 576px) {
  #version-detail .label {
    padding-left: 1em;
  }

  #platform365 .label {
    padding-left: 1em;
  }

  #platformPiVar365 .label {
    padding-left: 1em;
  }

  #version-detail {
    width: 95%;
  }
}

@media only screen and (min-width: 577px) {
  #version-detail .label {
    padding-left: 1em;
  }

  #platform365 .label {
    padding-left: 1em;
  }

  #platformPiVar365 .label {
    padding-left: 1em;
  }

}

@media only screen and (min-width: 991px) {
  #version-detail .label {
    padding-left: 2em;
  }

  #platform365 .label {
    padding-left: 5em;
  }

  #platformPiVar365 .label {
    padding-left: 5em;
  }

}

@media only screen and (min-width: 1200px) {
  #version-detail .label {
    padding-left: 7em;
  }
}