
body {
    background-color: #3498db;
}

#main-div {
    background-color: white;
    margin-top: 1em;
    margin-bottom:1em;
    padding-bottom:1em;
}

.canvas-holder {
    max-width: 450px;
}

#all-charts {
  display: none;
}

.chart-outer {
    margin-top:2em;
}

/* Use as <div class="ajax-loading-60px"></div> */
.ajax-loading-60px {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: ajax-spin 2s linear infinite; /* Safari */
	animation: ajax-spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes ajax-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes ajax-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
